@import "./constants/styles.scss";

body {
  margin: 0px;
  font-size: $font-size;
  color:$font-color;
  line-height: normal;
  font-family: $font-family;
  background-size: cover;
  background-position: center;
  background-image: url('https://source.unsplash.com/1600x900/?background'); 
  background-repeat: no-repeat;
  height: 100vh;
}



